@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.container {
    display: grid;
    grid-template-columns: minmax(450px,1.2fr) 4fr;
    height: 100vh;
}

.side-bar {
    grid-column: 1/2;
    position: fixed;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    top:5rem;
    left: 2rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    position: relative;
    top: 5rem;
}

.label {
    justify-self: center;
    align-self: center;
}

.field {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(175, 175, 175);
}

.field:focus {
    outline: none !important;
    border: 2px solid rgb(80, 80, 80);
}

.label, .field {
    margin-bottom: 1rem;
}

.invalid-input {
    border: 2px solid #ff7b7b;
}

.invalid-input:focus {
    outline: none!important;
    border: 2px solid#fc1414;
}

.error-msg {
    position: relative;
    top: -2rem;
    left: 20.5rem;
    font-size: 0.6rem;
    color: #ff5252;    
}

.show-error-msg {
    visibility: visible;
}

.hide-error-msg{
    visibility: hidden;
}


.readStatus {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 0.5rem;
    margin-bottom: 1rem;

    position: relative;
    left: 2rem;
}

.readStatusInputs {
    display: flex;
    gap: 1rem;
}

.btn-group {
    grid-column: 1/3;
    display: flex;
    gap: 1rem;
    justify-content: center;

    position: relative;
    left: 2rem;
}


.add, .clear {
    padding: 1rem;
    width: 5rem;
    border-radius: 5px;
}

.add {
    background-color: rgb(194, 194, 194);
    border: 1px solid rgb(194, 194, 194);
}

.add:hover {
    cursor: pointer;
    background-color: #30cb00;
    border: 1px solid #30cb00;
}

.clear {
    background-color: rgb(194, 194, 194);
    border: 1px solid rgb(194, 194, 194);
}

.clear:hover {
    cursor: pointer;
    background-color: #ff5252;
    border: 1px solid #ff5252;
}

.content {
    grid-column: 2/3;
    background-color: #620;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 2rem;
    padding: 2rem;
}

.card {
    width: 100%;
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
}

.book-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.delete-btn {
    display: flex;
    justify-content: flex-end;
}

.delete-btn-image {
    background: url("./images/delete.svg");
    width: 24px;
    height: 24px;
}

.delete-btn-image:hover {
    cursor: pointer;
    background: url("./images/delete_hover.svg");
}

.book-title {
    font-size: 1rem;
}

.book-content > p {
    font-size: 0.7rem;
}

.book-author {
    font-size: 0.8rem;
}

.book-read-status {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
}

.book-read-status > p {
    align-self: center;
    font-size: 0.7rem;
}

.book-read-status > .read-status-options {
    display: flex;
    justify-content: center;
}

.book-read-status > .read-status-options > button {
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.book-read-status > .read-status-options > .yes {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(196, 194, 194);
    background-color: rgb(196, 194, 194);
}

.book-read-status > .read-status-options > .yes:hover {
    background-color: #30cb00;
    border: 1px solid #30cb00;
    cursor: pointer;
}

.book-read-status > .read-status-options > .no {
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(196, 194, 194);
    background-color: rgb(196, 194, 194);
}

.book-read-status > .read-status-options > .no:hover {
    background-color: #ff5252;
    border: 1px solid #ff5252;
    cursor: pointer;
}

.book-read-status > .read-status-options > .yesSelected {
    background-color: #30cb00;
    border: 1px solid #30cb00;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.book-read-status > .read-status-options > .yesSelected:hover {
    cursor: pointer;
    background-color: #4ae54a;
    border: 1px solid #4ae54a;
}



.book-read-status > .read-status-options > .noSelected {
    background-color: #ff5252;
    border: 1px solid #ff5252;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.book-read-status > .read-status-options > .noSelected:hover {
    background-color: 	#ff7b7b;
    border: 1px solid 	#ff7b7b;
    cursor: pointer;
}